/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.font-text-size {
  font-size: 60px;
}

.font-color {
  color: #fa804c;
}
.banner-color {
  background-color: #fff9f4;
}
.button-color {
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
}
